data/*
!data/.gitkeep

output/*
!output/.gitkeep


*.jld2
!midi-rnn-*.jld2

*.qmd
!midi-rnn.qmd

*.backup
!midi-rnn-*.backup


*.ipynb

.ipynb_checkpoints
*/**/.ipynb_checkpoints


!data/input.jld2
!data/input.jld2.backup
